<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/13_Analysing_non_numerical_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

In [ ]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [ ]:
athlete = summer['Athlete']

In [ ]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [ ]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [ ]:
athlete.dtype

dtype('O')

In [ ]:
type(athlete)

pandas.core.series.Series

In [ ]:
athlete.shape

(31165,)

In [ ]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [ ]:
athlete.size

31165

In [ ]:
athlete.count()

31165

In [ ]:
athlete.min()

'AABYE, Edgar'

In [ ]:
athlete.max()

'Ã–STRAND, Per-Olof'

In [ ]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [ ]:
len(athlete.unique())

22762

In [ ]:
athlete.nunique(dropna=True)

22762

In [ ]:
athlete.value_counts()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
ONO, Takashi            13
MANGIAROTTI, Edoardo    13
                        ..
CUTOV, Calistrat         1
PANKAU, Herbert          1
WARDEN, Archibald A.     1
SLAY, Brandon            1
DREXLER, Clyde           1
Name: Athlete, Length: 22762, dtype: int64

In [ ]:
athlete.value_counts(sort=True,ascending=True)

DREXLER, Clyde           1
SLAY, Brandon            1
WARDEN, Archibald A.     1
PANKAU, Herbert          1
CUTOV, Calistrat         1
                        ..
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
ANDRIANOV, Nikolay      15
LATYNINA, Larisa        18
PHELPS, Michael         22
Name: Athlete, Length: 22762, dtype: int64

In [ ]:
athlete.value_counts(sort=True,ascending=False,normalize=True).head()

PHELPS, Michael         0.000706
LATYNINA, Larisa        0.000578
ANDRIANOV, Nikolay      0.000481
ONO, Takashi            0.000417
MANGIAROTTI, Edoardo    0.000417
Name: Athlete, dtype: float64