<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/19_Pandas_Series_idxmin_and_idxmax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
# extract the index of the largest value in age column
titanic.age.idxmax()

630

In [6]:
# extract the index of the lowest value in age column
titanic.age.idxmin()

803

In [7]:
titanic.loc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [9]:
titanic.loc[titanic.age.idxmax()]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [18]:
dic = {'Mon':10,'Tue':25,'Wed':6,'Thu':36,'Fri':12,'Sat':0,'Sun':None}
dic

{'Fri': 12, 'Mon': 10, 'Sat': 0, 'Sun': None, 'Thu': 36, 'Tue': 25, 'Wed': 6}

In [19]:
sales = pd.Series(dic)
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri    12.0
Sat     0.0
Sun     NaN
dtype: float64

In [20]:
sales.sort_values(ascending=True).index[0]

'Sat'

In [21]:
sales.idxmin()

'Sat'

In [22]:
sales.idxmax()

'Thu'

In [23]:
sales.sort_values(ascending=False).index[0]

'Thu'