<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/21_Panda_Series_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Analisyng Columns/Pandas Series

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
cars

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa             chevrolet s-10

[398 rows x 9 columns]

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
#Select the numerical column "mpg", create a copy and save the column/Pandas Series in the variable mpg! 
# Fill in the gaps!
mpg = cars['mpg'].copy()

In [6]:
mpg

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [7]:
mpg.describe()

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [8]:
mpg.max()

46.6

In [12]:
mpg.value_counts()

13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
34.2     1
38.1     1
37.2     1
32.1     1
32.7     1
Name: mpg, Length: 129, dtype: int64

In [13]:
mpg.value_counts(normalize=True)

13.0    0.050251
14.0    0.047739
18.0    0.042714
15.0    0.040201
26.0    0.035176
          ...
34.2    0.002513
38.1    0.002513
37.2    0.002513
32.1    0.002513
32.7    0.002513
Name: mpg, Length: 129, dtype: float64

In [14]:
mpg.sort_values()

28      9.0
25     10.0
26     10.0
103    11.0
124    11.0
       ...
326    43.4
394    44.0
325    44.3
329    44.6
322    46.6
Name: mpg, Length: 398, dtype: float64

In [17]:
mpg.sort_values(ascending=False, inplace=True)

In [18]:
mpg.head()

322    46.6
329    44.6
325    44.3
394    44.0
326    43.4
Name: mpg, dtype: float64

In [19]:
mpg.sort_index(inplace=True)

In [20]:
mpg

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [22]:
l_per_100 = (235.21/mpg).round(2)
l_per_100

0      13.07
1      15.68
2      13.07
3      14.70
4      13.84
       ...
393     8.71
394     5.35
395     7.35
396     8.40
397     7.59
Name: mpg, Length: 398, dtype: float64

In [23]:
l_per_100.describe()

count    398.000000
mean      11.212789
std        3.901407
min        5.050000
25%        8.110000
50%       10.230000
75%       13.440000
max       26.130000
Name: mpg, dtype: float64

In [25]:
origin = pd.Series(cars['origin'])
origin

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

In [26]:
origin.describe()

count     398
unique      3
top       usa
freq      249
Name: origin, dtype: object

In [27]:
origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [29]:
origin.value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64