<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/22_Pandas_Index_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [14]:
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [15]:
summer.head()

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver

[5 rows x 8 columns]

In [4]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
type(summer.index)

pandas.core.indexes.range.RangeIndex

In [10]:
summer.columns[:3]

Index(['Year', 'City', 'Sport'], dtype='object')

In [9]:
type(summer.columns)

pandas.core.indexes.base.Index

In [16]:
summer.index[0]

'HAJOS, Alfred'

In [20]:
summer.index[-1]

'LIDBERG, Jimmy'

In [17]:
summer.index[100:102]

Index(['FLATOW, Alfred', 'FLATOW, Gustav Felix'], dtype='object', name='Athlete')

In [13]:
summer.axes

[RangeIndex(start=0, stop=31165, step=1),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
        'Event', 'Medal'],
       dtype='object')]

In [18]:
summer.columns.tolist()

['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event', 'Medal']

In [19]:
summer.index.is_unique

False

In [22]:
summer.index.get_loc('DRIVAS, Dimitrios')

2