In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer

       Year    City      Sport  ... Gender                       Event   Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle    Gold
1      1896  Athens   Aquatics  ...    Men              100M Freestyle  Silver
2      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Silver
...     ...     ...        ...  ...    ...                         ...     ...
31160  2012  London  Wrestling  ...    Men                    Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men                    Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men                    Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze

[31165 rows x 9 columns]

### Getting the first 5 rows and rows 354 and 765

In [ ]:
rows = list(range(5)) + [354,765]
rows

[0, 1, 2, 3, 4, 354, 765]

In [ ]:
summer.iloc[rows]

     Year      City       Sport  ... Gender                       Event   Medal
0    1896    Athens    Aquatics  ...    Men              100M Freestyle    Gold
1    1896    Athens    Aquatics  ...    Men              100M Freestyle  Silver
2    1896    Athens    Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3    1896    Athens    Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4    1896    Athens    Aquatics  ...    Men  100M Freestyle For Sailors  Silver
354  1900     Paris  Equestrian  ...    Men        Long Jump Individual  Bronze
765  1904  St Louis   Athletics  ...    Men                 4Miles Team  Silver

[7 rows x 9 columns]

In [ ]:
rows1 = list(range(6))+[400,600]
rows1

[0, 1, 2, 3, 4, 5, 400, 600]

In [ ]:
summer.iloc[rows1]

     Year    City     Sport  ... Gender                       Event   Medal
0    1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1    1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2    1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3    1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4    1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver
5    1896  Athens  Aquatics  ...    Men             1200M Freestyle  Bronze
400  1900   Paris  Football  ...    Men                    Football  Silver
600  1900   Paris  Shooting  ...    Men  Army Rifle, 300M, Kneeling    Gold

[8 rows x 9 columns]

### Getting the first 3 columns and the columns Gender and Event

In [ ]:
col = summer.columns[:3].to_list() + ['Gender','Event']

In [ ]:
col

['Year', 'City', 'Sport', 'Gender', 'Event']

In [ ]:
summer.loc[:,col]

       Year    City      Sport Gender                       Event
0      1896  Athens   Aquatics    Men              100M Freestyle
1      1896  Athens   Aquatics    Men              100M Freestyle
2      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
3      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
4      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
...     ...     ...        ...    ...                         ...
31160  2012  London  Wrestling    Men                    Wg 84 KG
31161  2012  London  Wrestling    Men                    Wg 96 KG
31162  2012  London  Wrestling    Men                    Wg 96 KG
31163  2012  London  Wrestling    Men                    Wg 96 KG
31164  2012  London  Wrestling    Men                    Wg 96 KG

[31165 rows x 5 columns]

In [ ]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [ ]:
col1 = summer.columns[:2].to_list() + ['Sport','Discipline']
col1

['Year', 'City', 'Sport', 'Discipline']

In [ ]:
summer.loc[:,col1]

       Year    City      Sport           Discipline
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

[31165 rows x 4 columns]

### Combining Position and label based indexing

In [ ]:
# rows at positions 20 and 300 and columns Athlete and Medal
summer.loc[[200,300],['Athlete','Medal']]

                      Athlete   Medal
200               KEMP, Peter    Gold
300  SHELDON, Lewis Pendleton  Bronze

### Combining Position and label based indexing

In [ ]:
# rows Phelps Michael and position columns 4 and 6
summer = pd.read_csv('summer.csv',index_col='Athlete')
summer.head(2)

                  Year    City     Sport  ... Gender           Event   Medal
Athlete                                   ...
HAJOS, Alfred     1896  Athens  Aquatics  ...    Men  100M Freestyle    Gold
HERSCHMANN, Otto  1896  Athens  Aquatics  ...    Men  100M Freestyle  Silver

[2 rows x 8 columns]

In [ ]:
col = summer.columns[[4,6]]
col

Index(['Country', 'Event'], dtype='object')

In [ ]:
summer.loc['PHELPS, Michael',col]

                Country                   Event
Athlete
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA             200M Medley
PHELPS, Michael     USA        4X100M Freestyle
PHELPS, Michael     USA           4X100M Medley
PHELPS, Michael     USA        4X200M Freestyle