<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/Coding_Exercise2_Slicing_and_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cars = pd.read_csv('cars.csv')

In [ ]:
cars.info

<bound method DataFrame.info of       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa             chevrolet s-10

[398 rows x 9 columns]>

In [ ]:
cars.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [ ]:
# select the column name with the attribute (dot notation).
# What is the name of the car at the position 393?
cars.name.iloc[393]

'ford mustang gl'

In [ ]:
# apply also the second alternative to select the column 'name'
cars['name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397               chevrolet s-10
Name: name, Length: 398, dtype: object

In [ ]:
# select the car/row at index position 100 with the iloc.
# How many cilynders does the car have?
cars.iloc[100]

mpg                        18
cylinders                   6
displacement              250
horsepower                 88
weight                   3021
acceleration             16.5
model_year                 73
origin                    usa
name            ford maverick
Name: 100, dtype: object

In [ ]:
cars.iloc[200,-1]

'ford granada ghia'

In [ ]:
# select the last 10 rows and the columns mpg,horsepowe, origin and name 
# with the iloc operator. What is the mpg of the vw pickup
cars.iloc[-10:,[0,3,-2,-1]]

      mpg  horsepower  origin                        name
388  26.0        92.0     usa  chrysler lebaron medallion
389  22.0       112.0     usa              ford granada l
390  32.0        96.0   japan            toyota celica gt
391  36.0        84.0     usa           dodge charger 2.2
392  27.0        90.0     usa            chevrolet camaro
393  27.0        86.0     usa             ford mustang gl
394  44.0        52.0  europe                   vw pickup
395  32.0        84.0     usa               dodge rampage
396  28.0        79.0     usa                 ford ranger
397  31.0        82.0     usa              chevrolet s-10

In [ ]:
cars = pd.read_csv('cars.csv', index_col='name')
cars

                            mpg  cylinders  ...  model_year  origin
name                                        ...
chevrolet chevelle malibu  18.0          8  ...          70     usa
buick skylark 320          15.0          8  ...          70     usa
plymouth satellite         18.0          8  ...          70     usa
amc rebel sst              16.0          8  ...          70     usa
ford torino                17.0          8  ...          70     usa
...                         ...        ...  ...         ...     ...
ford mustang gl            27.0          4  ...          82     usa
vw pickup                  44.0          4  ...          82  europe
dodge rampage              32.0          4  ...          82     usa
ford ranger                28.0          4  ...          82     usa
chevrolet s-10             31.0          4  ...          82     usa

[398 rows x 8 columns]

In [ ]:
# inspect the new index of the DataFrame by calling the index attribute
cars.index

Index(['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite',
       'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala',
       'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl',
       ...
       'chrysler lebaron medallion', 'ford granada l', 'toyota celica gt',
       'dodge charger 2.2', 'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevrolet s-10'],
      dtype='object', name='name', length=398)

In [ ]:
# select the row with the index 'ford ranger (us ethe loc operator)
# what is the weight
cars.loc['ford ranger','weight']

2625

In [ ]:
#select the row with the index label ford torino and only the 
# column model_year and origin
cars.loc['ford torino',['model_year','origin']]

model_year     70
origin        usa
Name: ford torino, dtype: object

In [ ]:
# select the columns mpg and weight all rows with the loc operator
cars.loc[:,['mpg','weight']]

                            mpg  weight
name
chevrolet chevelle malibu  18.0    3504
buick skylark 320          15.0    3693
plymouth satellite         18.0    3436
amc rebel sst              16.0    3433
ford torino                17.0    3449
...                         ...     ...
ford mustang gl            27.0    2790
vw pickup                  44.0    2130
dodge rampage              32.0    2295
ford ranger                28.0    2625
chevrolet s-10             31.0    2720

[398 rows x 2 columns]