<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/Indexing_and_Slicing_with_reindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
summer = pd.read_csv('summer.csv')
summer

       Year    City      Sport  ... Gender                       Event   Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle    Gold
1      1896  Athens   Aquatics  ...    Men              100M Freestyle  Silver
2      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Silver
...     ...     ...        ...  ...    ...                         ...     ...
31160  2012  London  Wrestling  ...    Men                    Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men                    Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men                    Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze

[31165 rows x 9 columns]

In [ ]:
summer.loc[[0,5,30000],['Medal','Athlete']]

                     Athlete   Medal
0              HAJOS, Alfred    Gold
5      CHOROPHAS, Efstathios  Bronze
30000       PAUTARAN, Maryna  Bronze

In [ ]:
summer.reindex(index = [0,5,30000,40000],columns = ['Medal','Athlete','Age'])

        Medal                Athlete  Age
0        Gold          HAJOS, Alfred  NaN
5      Bronze  CHOROPHAS, Efstathios  NaN
30000  Bronze       PAUTARAN, Maryna  NaN
40000     NaN                    NaN  NaN