<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/Indexing_Slicing_Rows_and_Columns_with_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Indexing/Slicing Rows and Columns with iloc[]

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [ ]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [ ]:
summer.head()

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver

[5 rows x 8 columns]

In [ ]:
summer.iloc[0,4]

'HUN'

In [ ]:
summer.iloc[0,:3]

Year         1896
City       Athens
Sport    Aquatics
Name: HAJOS, Alfred, dtype: object

In [ ]:
summer.iloc[:4,:4]

                    Year    City     Sport Discipline
Athlete
HAJOS, Alfred       1896  Athens  Aquatics   Swimming
HERSCHMANN, Otto    1896  Athens  Aquatics   Swimming
DRIVAS, Dimitrios   1896  Athens  Aquatics   Swimming
MALOKINIS, Ioannis  1896  Athens  Aquatics   Swimming

In [ ]:
summer.iloc[0,[0,2,5,7]]

Year          1896
Sport     Aquatics
Gender         Men
Medal         Gold
Name: HAJOS, Alfred, dtype: object

In [ ]:
summer.iloc[34:39,[0,2,5,7]]

                      Year      Sport Gender   Medal
Athlete
GARRETT, Robert       1896  Athletics    Men  Silver
KELLNER, Gyula        1896  Athletics    Men  Bronze
LOUIS, Spyridon       1896  Athletics    Men    Gold
VASILAKOS, Kharilaos  1896  Athletics    Men  Silver
DAMASKOS, Evangelos   1896  Athletics    Men  Bronze

### Selecting Columns with iloc[]

In [ ]:
summer.iloc[:,4].equals(summer.Country)

True

In [ ]:
summer.iloc[:,4]

Athlete
HAJOS, Alfred                HUN
HERSCHMANN, Otto             AUT
DRIVAS, Dimitrios            GRE
MALOKINIS, Ioannis           GRE
CHASAPIS, Spiridon           GRE
                            ...
JANIKOWSKI, Damian           POL
REZAEI, Ghasem Gholamreza    IRI
TOTROV, Rustam               RUS
ALEKSANYAN, Artur            ARM
LIDBERG, Jimmy               SWE
Name: Country, Length: 31165, dtype: object

In [ ]:
summer.Country

Athlete
HAJOS, Alfred                HUN
HERSCHMANN, Otto             AUT
DRIVAS, Dimitrios            GRE
MALOKINIS, Ioannis           GRE
CHASAPIS, Spiridon           GRE
                            ...
JANIKOWSKI, Damian           POL
REZAEI, Ghasem Gholamreza    IRI
TOTROV, Rustam               RUS
ALEKSANYAN, Artur            ARM
LIDBERG, Jimmy               SWE
Name: Country, Length: 31165, dtype: object

In [ ]:
summer['Country']

Athlete
HAJOS, Alfred                HUN
HERSCHMANN, Otto             AUT
DRIVAS, Dimitrios            GRE
MALOKINIS, Ioannis           GRE
CHASAPIS, Spiridon           GRE
                            ...
JANIKOWSKI, Damian           POL
REZAEI, Ghasem Gholamreza    IRI
TOTROV, Rustam               RUS
ALEKSANYAN, Artur            ARM
LIDBERG, Jimmy               SWE
Name: Country, Length: 31165, dtype: object