<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/Position_Based_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Selecting Rows with iloc

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv', index_col = 'Athlete')

In [ ]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

### Selecting Rows with iloc

In [ ]:
summer

                           Year    City  ...                       Event   Medal
Athlete                                  ...
HAJOS, Alfred              1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto           1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios          1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis         1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon         1896  Athens  ...  100M Freestyle For Sailors  Silver
...                         ...     ...  ...                         ...     ...
JANIKOWSKI, Damian         2012  London  ...                    Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  ...                    Wg 96 KG    Gold
TOTROV, Rustam             2012  London  ...                    Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  ...                    Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  ...                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

In [ ]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [ ]:
summer.iloc[0:3]

                   Year    City  ...                       Event   Medal
Athlete                          ...
HAJOS, Alfred      1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto   1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios  1896  Athens  ...  100M Freestyle For Sailors  Bronze

[3 rows x 8 columns]

In [ ]:
type(summer.iloc[1])

pandas.core.series.Series

In [ ]:
type(summer.iloc[0:3])

pandas.core.frame.DataFrame

In [ ]:
summer.iloc[1:4]

                    Year    City  ...                       Event   Medal
Athlete                           ...
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold

[3 rows x 8 columns]

In [ ]:
summer.iloc[:5]

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver

[5 rows x 8 columns]

In [ ]:
summer.iloc[-5:]

                           Year    City      Sport  ... Gender     Event   Medal
Athlete                                             ...
JANIKOWSKI, Damian         2012  London  Wrestling  ...    Men  Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  Wrestling  ...    Men  Wg 96 KG    Gold
TOTROV, Rustam             2012  London  Wrestling  ...    Men  Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze

[5 rows x 8 columns]

In [ ]:
summer.iloc[:]

                           Year    City  ...                       Event   Medal
Athlete                                  ...
HAJOS, Alfred              1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto           1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios          1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis         1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon         1896  Athens  ...  100M Freestyle For Sailors  Silver
...                         ...     ...  ...                         ...     ...
JANIKOWSKI, Damian         2012  London  ...                    Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  ...                    Wg 96 KG    Gold
TOTROV, Rustam             2012  London  ...                    Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  ...                    Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  ...                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

In [ ]:
summer.iloc[[2,45,5467]]

                   Year       City  ...                       Event   Medal
Athlete                             ...
DRIVAS, Dimitrios  1896     Athens  ...  100M Freestyle For Sailors  Bronze
PERSAKIS, Ioannis  1896     Athens  ...                 Triple Jump  Bronze
POLAK, Ans         1928  Amsterdam  ...            Team Competition    Gold

[3 rows x 8 columns]