<a href="https://colab.research.google.com/github/Datriks/Pandas_Data_analysis/blob/master/Summary_and_Outlook_Slicing_column_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv', index_col='Athlete')
summer.head()

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver

[5 rows x 8 columns]

In [ ]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.8+ MB

### Selecting one column

In [ ]:
summer.Medal

Athlete
HAJOS, Alfred                  Gold
HERSCHMANN, Otto             Silver
DRIVAS, Dimitrios            Bronze
MALOKINIS, Ioannis             Gold
CHASAPIS, Spiridon           Silver
                              ...
JANIKOWSKI, Damian           Bronze
REZAEI, Ghasem Gholamreza      Gold
TOTROV, Rustam               Silver
ALEKSANYAN, Artur            Bronze
LIDBERG, Jimmy               Bronze
Name: Medal, Length: 31165, dtype: object

In [ ]:
summer['Medal']

Athlete
HAJOS, Alfred                  Gold
HERSCHMANN, Otto             Silver
DRIVAS, Dimitrios            Bronze
MALOKINIS, Ioannis             Gold
CHASAPIS, Spiridon           Silver
                              ...
JANIKOWSKI, Damian           Bronze
REZAEI, Ghasem Gholamreza      Gold
TOTROV, Rustam               Silver
ALEKSANYAN, Artur            Bronze
LIDBERG, Jimmy               Bronze
Name: Medal, Length: 31165, dtype: object

### Selecting Multiple columns

In [ ]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [ ]:
summer[['Discipline','Event','Medal']].head()

                   Discipline                       Event   Medal
Athlete
HAJOS, Alfred        Swimming              100M Freestyle    Gold
HERSCHMANN, Otto     Swimming              100M Freestyle  Silver
DRIVAS, Dimitrios    Swimming  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis   Swimming  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon   Swimming  100M Freestyle For Sailors  Silver

In [ ]:
summer.loc[:,['Year','Medal']].head()

                    Year   Medal
Athlete
HAJOS, Alfred       1896    Gold
HERSCHMANN, Otto    1896  Silver
DRIVAS, Dimitrios   1896  Bronze
MALOKINIS, Ioannis  1896    Gold
CHASAPIS, Spiridon  1896  Silver

### Selecting Positional Rows

In [ ]:
summer.iloc[10:21]

                    Year    City      Sport  ... Gender           Event   Medal
Athlete                                      ...
PEPANOS, Antonios   1896  Athens   Aquatics  ...    Men  400M Freestyle  Silver
LANE, Francis       1896  Athens  Athletics  ...    Men            100M  Bronze
SZOKOLYI, Alajos    1896  Athens  Athletics  ...    Men            100M  Bronze
BURKE, Thomas       1896  Athens  Athletics  ...    Men            100M    Gold
HOFMANN, Fritz      1896  Athens  Athletics  ...    Men            100M  Silver
CURTIS, Thomas      1896  Athens  Athletics  ...    Men    110M Hurdles    Gold
GOULDING, Grantley  1896  Athens  Athletics  ...    Men    110M Hurdles  Silver
LERMUSIAUX, Albin   1896  Athens  Athletics  ...    Men           1500M  Bronze
FLACK, Edwin        1896  Athens  Athletics  ...    Men           1500M    Gold
BLAKE, Arthur       1896  Athens  Athletics  ...    Men           1500M  Silver
GMELIN, Charles     1896  Athens  Athletics  ...    Men            400M  Bronze

[11 rows x 8 columns]

### Selecting Labeled Rows

In [ ]:
summer.loc['LEWIS, Carl']

             Year         City      Sport  ... Gender         Event   Medal
Athlete                                    ...
LEWIS, Carl  1984  Los Angeles  Athletics  ...    Men          100M    Gold
LEWIS, Carl  1984  Los Angeles  Athletics  ...    Men          200M    Gold
LEWIS, Carl  1984  Los Angeles  Athletics  ...    Men  4X100M Relay    Gold
LEWIS, Carl  1984  Los Angeles  Athletics  ...    Men     Long Jump    Gold
LEWIS, Carl  1988        Seoul  Athletics  ...    Men          100M    Gold
LEWIS, Carl  1988        Seoul  Athletics  ...    Men          200M  Silver
LEWIS, Carl  1988        Seoul  Athletics  ...    Men     Long Jump    Gold
LEWIS, Carl  1992    Barcelona  Athletics  ...    Men  4X100M Relay    Gold
LEWIS, Carl  1992    Barcelona  Athletics  ...    Men     Long Jump    Gold
LEWIS, Carl  1996      Atlanta  Athletics  ...    Men     Long Jump    Gold

[10 rows x 8 columns]

### Putting all together

In [ ]:
summer[['Year','Event','Medal']].loc['LEWIS, Carl']

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

In [ ]:
summer[['Year','Event','Medal']].loc['PHELPS, Michael']

                 Year                   Event   Medal
Athlete
PHELPS, Michael  2004          100M Butterfly    Gold
PHELPS, Michael  2004          200M Butterfly    Gold
PHELPS, Michael  2004          200M Freestyle  Bronze
PHELPS, Michael  2004  200M Individual Medley    Gold
PHELPS, Michael  2004  400M Individual Medley    Gold
PHELPS, Michael  2004  4X100M Freestyle Relay  Bronze
PHELPS, Michael  2004     4X100M Medley Relay    Gold
PHELPS, Michael  2004  4X200M Freestyle Relay    Gold
PHELPS, Michael  2008          100M Butterfly    Gold
PHELPS, Michael  2008          200M Butterfly    Gold
PHELPS, Michael  2008          200M Freestyle    Gold
PHELPS, Michael  2008  200M Individual Medley    Gold
PHELPS, Michael  2008  400M Individual Medley    Gold
PHELPS, Michael  2008  4X100M Freestyle Relay    Gold
PHELPS, Michael  2008     4X100M Medley Relay    Gold
PHELPS, Michael  2008  4X200M Freestyle Relay    Gold
PHELPS, Michael  2012          100M Butterfly    Gold
PHELPS, Michael  2012          200M Butterfly  Silver
PHELPS, Michael  2012             200M Medley    Gold
PHELPS, Michael  2012        4X100M Freestyle  Silver
PHELPS, Michael  2012           4X100M Medley    Gold
PHELPS, Michael  2012        4X200M Freestyle    Gold

In [ ]:
summer.loc['PHELPS, Michael'][['Year','Event','Medal']]

                 Year                   Event   Medal
Athlete
PHELPS, Michael  2004          100M Butterfly    Gold
PHELPS, Michael  2004          200M Butterfly    Gold
PHELPS, Michael  2004          200M Freestyle  Bronze
PHELPS, Michael  2004  200M Individual Medley    Gold
PHELPS, Michael  2004  400M Individual Medley    Gold
PHELPS, Michael  2004  4X100M Freestyle Relay  Bronze
PHELPS, Michael  2004     4X100M Medley Relay    Gold
PHELPS, Michael  2004  4X200M Freestyle Relay    Gold
PHELPS, Michael  2008          100M Butterfly    Gold
PHELPS, Michael  2008          200M Butterfly    Gold
PHELPS, Michael  2008          200M Freestyle    Gold
PHELPS, Michael  2008  200M Individual Medley    Gold
PHELPS, Michael  2008  400M Individual Medley    Gold
PHELPS, Michael  2008  4X100M Freestyle Relay    Gold
PHELPS, Michael  2008     4X100M Medley Relay    Gold
PHELPS, Michael  2008  4X200M Freestyle Relay    Gold
PHELPS, Michael  2012          100M Butterfly    Gold
PHELPS, Michael  2012          200M Butterfly  Silver
PHELPS, Michael  2012             200M Medley    Gold
PHELPS, Michael  2012        4X100M Freestyle  Silver
PHELPS, Michael  2012           4X100M Medley    Gold
PHELPS, Michael  2012        4X200M Freestyle    Gold

In [ ]:
# this is the best method
summer.loc['PHELPS, Michael',['Year','Event','Medal']]

                 Year                   Event   Medal
Athlete
PHELPS, Michael  2004          100M Butterfly    Gold
PHELPS, Michael  2004          200M Butterfly    Gold
PHELPS, Michael  2004          200M Freestyle  Bronze
PHELPS, Michael  2004  200M Individual Medley    Gold
PHELPS, Michael  2004  400M Individual Medley    Gold
PHELPS, Michael  2004  4X100M Freestyle Relay  Bronze
PHELPS, Michael  2004     4X100M Medley Relay    Gold
PHELPS, Michael  2004  4X200M Freestyle Relay    Gold
PHELPS, Michael  2008          100M Butterfly    Gold
PHELPS, Michael  2008          200M Butterfly    Gold
PHELPS, Michael  2008          200M Freestyle    Gold
PHELPS, Michael  2008  200M Individual Medley    Gold
PHELPS, Michael  2008  400M Individual Medley    Gold
PHELPS, Michael  2008  4X100M Freestyle Relay    Gold
PHELPS, Michael  2008     4X100M Medley Relay    Gold
PHELPS, Michael  2008  4X200M Freestyle Relay    Gold
PHELPS, Michael  2012          100M Butterfly    Gold
PHELPS, Michael  2012          200M Butterfly  Silver
PHELPS, Michael  2012             200M Medley    Gold
PHELPS, Michael  2012        4X100M Freestyle  Silver
PHELPS, Michael  2012           4X100M Medley    Gold
PHELPS, Michael  2012        4X200M Freestyle    Gold

### Outlook Pandas Objects

In [ ]:
summer

                           Year    City  ...                       Event   Medal
Athlete                                  ...
HAJOS, Alfred              1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto           1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios          1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis         1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon         1896  Athens  ...  100M Freestyle For Sailors  Silver
...                         ...     ...  ...                         ...     ...
JANIKOWSKI, Damian         2012  London  ...                    Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  ...                    Wg 96 KG    Gold
TOTROV, Rustam             2012  London  ...                    Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  ...                    Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  ...                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

In [ ]:
type(summer)

pandas.core.frame.DataFrame

In [ ]:
summer['Year']

Athlete
HAJOS, Alfred                1896
HERSCHMANN, Otto             1896
DRIVAS, Dimitrios            1896
MALOKINIS, Ioannis           1896
CHASAPIS, Spiridon           1896
                             ...
JANIKOWSKI, Damian           2012
REZAEI, Ghasem Gholamreza    2012
TOTROV, Rustam               2012
ALEKSANYAN, Artur            2012
LIDBERG, Jimmy               2012
Name: Year, Length: 31165, dtype: int64

In [ ]:
type(summer['Year'])

pandas.core.series.Series

In [ ]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [ ]:
type(summer.columns)

pandas.core.indexes.base.Index

In [ ]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [ ]:
type(summer.index)

pandas.core.indexes.base.Index